
body {
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 40px;
  margin-left: 80px;
}

a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
  color:slateblue;
}

a:hover {
  color:gray;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

.photo {
  border-radius: 100px;
  border: 3px solid transparent;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

.photo:hover {
  border: 3px solid gray;
}

.buttons {
background-color:#f6f8fa;
border-width: 1px;
border-radius: 2px;
border-color: black;
padding: 6px 12px;
cursor: pointer;
font-size: 14px;


}